{% extends "blog/base.html" %}
{% block title %}
    My Blog - Class View Based
{% endblock %}
{% block content %}
    <h1>ByExample Blog</h1>

    {% for post in posts %}
    <h2>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h2>
    <p class="date">
        Published {{ post.publish }} by <b>{{ post.author }}</b>
    </p>
        {{ post.body|truncatewords:30|linebreaks }}
<hr>

{% endfor %}
        {% include 'blog/post/pagination.html' with page=page_obj %}

{% endblock %}